h1 {
    font-family: 'Satisfy';
    font-size: 72px;
}

p, span {
    font-family: 'Courgette';
    font-size: 20px;
}

div {
    text-align: center;
}

.top_padding {
    margin-top: 100px;
}

.mid_padding {
    margin-top: 20px;
    margin-bottom: 20px;
}

.result_info {
    display: none;
    margin-top: 20px;
}

.cover-container {
    background-image: url("/image/1000.png");
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
}